/*
 * Copyright (C) 2025 TOKITA Hiroshi
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/clock/r8a779g0_cpg_mssr.h>

/delete-node/ &gic;

/ {
	compatible = "retronix,sparrowhawk-v4h-cr52-domd";
	model = "Retronix Sparrow Hawk on R-Car V4H: Xen DomD";

	passthrough {
		compatible = "simple-bus";
		ranges;
		#address-cells = <2>;
		#size-cells = <2>;
	};

	chosen {
		zephyr,shell-uart = &xen_hvc;
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
	};

	gic: interrupt-controller@3001000 {
		compatible = "arm,gic-v3", "arm,gic";
		#interrupt-cells = <4>;
		#address-cells = <0>;
		interrupt-controller;
		reg = <0x00 0x3001000 0x00 0x10000 0x00 0x3020000 0x00 0x1000000>;
	};
};

&cpg {
	compatible = "renesas,rcar-cpg-mssr-emul";
	#clock-cells = <2>;
};

&gpio0 {
	status = "disabled";
};

&gpio1 {
	status = "disabled";
};

&gpio2 {
	status = "disabled";
};

&hscif0 {
	status = "disabled";
};

&hscif1 {
	status = "disabled";
};

&scif0 {
	status = "disabled";
};

&scif1 {
	status = "disabled";
};

&scif3 {
	status = "disabled";
};

&scif4 {
	status = "disabled";
};

&canfd {
	status = "disabled";
};
