/*
 * Copyright (c) 2024 Zhang Xingtao <zhxt@live.cn>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <espressif/esp32s3/esp32s3_wroom_n16r8.dtsi>
#include <espressif/partitions_0x0_amp.dtsi>
#include "m5stack_cores3-pinctrl.dtsi"

/ {
	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,bt-hci = &esp32_bt_hci;
	};

	aliases {
		i2c-0 = &i2c0;
		watchdog0 = &wdt0;
		led0 = &axp2101_led;
	};
};

&usb_serial {
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	axp2101@34 {
		compatible = "x-powers,axp2101";
		reg = <0x34>;
		status = "okay";

		axp2101_regulator: axp2101_regulator {
			compatible = "x-powers,axp2101-regulator";
			status = "okay";

			DCDC1: DCDC1 {
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <3400000>;
				status = "okay";
			};

			DCDC2: DCDC2 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				status = "okay";
			};

			DCDC3: DCDC3 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				status = "okay";
			};

			DCDC4: DCDC4 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1840000>;
				status = "okay";
			};

			DCDC5: DCDC5 {
				regulator-min-microvolt = <1400000>;
				regulator-max-microvolt = <3700000>;
				status = "okay";
			};

			ALDO1: ALDO1 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				status = "okay";
			};

			ALDO2: ALDO2 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				status = "okay";
			};

			ALDO3: ALDO3 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				status = "okay";
			};
			ALDO4: ALDO4 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				status = "okay";
			};
			BLDO1: BLDO1 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				status = "okay";
			};
			BLDO2: BLDO2 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				status = "okay";
			};

			CLDO1: CLDO1 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1400000>;
				status = "okay";
			};

			DLDO1: DLDO1 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				status = "okay";
			};

			DLDO2: DLDO2 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				status = "okay";
			};
		};

		axp2101_led: axp2101_led {
			compatible = "x-powers,axp2101-led";
			status = "okay";
			x-powers,mode = "by-reg";
		};
	};
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
};

&wdt0 {
	status = "okay";
};

&esp32_bt_hci {
	status = "okay";
};
