# Copyright (c) 2023 Chen Xingyu <hi@xingrz.me>
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_QINGKE

config SOC_SERIES
	default "qingke"

config RISCV_GP
	default y

source "soc/riscv/riscv-privileged/qingke/Kconfig.defconfig.ch*"

endif # SOC_SERIES_QINGKE
