# Copyright (c) 2023 Chen Xingyu <hi@xingrz.me>
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_QINGKE
	bool
	select RISCV
	select RISCV_HAS_CLIC
	select SOC_FAMILY_RISCV_PRIVILEGED
	select INCLUDE_RESET_VECTOR
	select ATOMIC_OPERATIONS_C

source "soc/riscv/riscv-privileged/qingke/Kconfig.soc.*"
