/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2022 TOKITA Hiroshi <tokita.hiroshi@fujitsu.com>
 */

&timer0 {
	status = "okay";
	prescaler = <1999>;
};

&timer1 {
	status = "disabled";
	prescaler = <1999>;
};

&timer2 {
	status = "disabled";
	prescaler = <1999>;
};

&timer3 {
	status = "disabled";
	prescaler = <1999>;
};

&timer4 {
	status = "disabled";
	prescaler = <1999>;
};

&timer5 {
	status = "okay";
	prescaler = <1999>;
};

&timer6 {
	status = "okay";
	prescaler = <1999>;
};
