/*
 * Copyright (c) 2021 Tokita, Hiroshi <tokita.hiroshi@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <gigadevice-gd32vf103X8.dtsi>

/ {
	model = "Sipeed Longan Nano Lite";
	compatible = "sipeed,longan_nano_lite";

	chosen {
		zephyr,console = &usart0;
		zephyr,shell-uart = &usart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led_red: led_red {
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
			label = "LED_R";
		};
		led_green: led_green {
			gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
			label = "LED_G";
		};
		led_blue: led_blue {
			gpios = <&gpioa 2 GPIO_ACTIVE_LOW>;
			label = "LED_B";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		button: button {
			gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
			label = "BUTTON";
		};
	};

	aliases {
		led0 = &led_red;
		led1 = &led_green;
		led2 = &led_blue;
		sw0 = &button;
	};
};

&usart0 {
	current-speed = <115200>;
	status = "okay";
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&spi0 {
	status = "okay";
	cs-gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;

	st7735r@0 {
		compatible = "sitronix,st7735r";
		label = "ST7735R";
		spi-max-frequency = <10000000>;
		reg = <0>;
		cmd-data-gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
		width = <160>;
		height = <80>;
		x-offset = <1>;
		y-offset = <26>;
		display-inversion;
		madctl = <0x70>;
		colmod = <0x05>;
		vmctr1 = <0x0e>;
		invctr = <0x03>;
		pwctr1 = [62 02 04];
		pwctr2 = [c0];
		pwctr3 = [0d 00];
		pwctr4 = [8d 6a];
		pwctr5 = [8d ee];
		frmctr1 = [05 3a 3a];
		frmctr2 = [05 3a 3a];
		frmctr3 = [05 3a 3a 05 3a 3a];
		gamctrp1 = [10 0e 02 03 0e 07 02 07 0a 12 27 37 00 0d 0e 10];
		gamctrn1 = [10 0e 03 03 0f 06 02 08 0a 13 26 36 00 0d 0e 10];
	};
};

&spi1 {
	status = "okay";
        cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;

        sdhc0: sdhc@0 {
                compatible = "zephyr,mmc-spi-slot";
                reg = <0>;
                status = "okay";
                label = "SDHC0";
                spi-max-frequency = <1000000>;
        };

};
