# Copyright 2020 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

config SOC_XENVM
        select ARM64
        select ARM_ARCH_TIMER if SYS_CLOCK_EXISTS
        select CPU_CORTEX_A72

config SOC_XENVM_R52
        select ARM
        select ARM_ARCH_TIMER if SYS_CLOCK_EXISTS
        select ARM_MPU
        select CPU_HAS_ARM_MPU
        select CPU_CORTEX_R52
