# Copyright (c) 2023 Chen Xingyu <hi@xingrz.me>
# SPDX-License-Identifier: Apache-2.0

config CLOCK_CONTROL_CH56X
	bool "WCH CH56x HCLK clock controller"
	default y
	depends on DT_HAS_WCH_CH56X_HCLK_ENABLED
	select SYSCON
	help
	  Enable WCH CH56x HCLK clock controller.
