/ {
        chosen {
                zephyr,canbus = &can1;
        };

	pwmleds {
		compatible = "pwm-leds";
		pwm_u: pwm_u {
			pwms = <&pwm1 1 PWM_USEC(20) PWM_POLARITY_NORMAL>;
		};
		pwm_v: pwm_v {
			pwms = <&pwm1 2 PWM_USEC(20) PWM_POLARITY_NORMAL>;
		};
		pwm_w: pwm_w {
			pwms = <&pwm1 3 PWM_USEC(20) PWM_POLARITY_NORMAL>;
		};
	};
 
	zephyr,user {
		io-channels = <&adc1 1>, <&adc1 6>, <&adc1 7>, <&adc1 8>;
	};
};
 
&usart1 {
	status = "disabled";
};

&usart3 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&spi2 {
	status = "disabled";
};
/*
&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};
*/

&timers1 {
	status = "okay";
	st,prescaler = <7>;

	pwm1: pwm {
		compatible = "st,stm32-pwm";
		status = "okay";
		pinctrl-0 = <&tim1_ch1_pa8>, <&tim1_ch2_pa9>, <&tim1_ch3_pa10>;
		pinctrl-names = "default";
		#pwm-cells = <3>;
	};
};

&timers2 {
	status = "okay";
	st,prescaler = <799>;
	pwm {
		status = "disabled";
	};

	counter2: counter {
		status = "okay";
	};
};

&timers6 {
	status = "okay";
	st,prescaler = <799>;
	pwm {
		status = "disabled";
	};

	counter6: counter {
		status = "okay";
	};
};

&timers7 {
	status = "okay";
	st,prescaler = <799>;
	pwm {
		status = "disabled";
	};

	counter7: counter {
		status = "okay";
	};
};

&timers15 {
	status = "okay";
	st,prescaler = <799>;
	pwm {
		status = "disabled";
	};

	counter15: counter {
		status = "okay";
	};
};

&timers16 {
	status = "okay";
	st,prescaler = <799>;
	pwm {
		status = "disabled";
	};

	counter16: counter {
		status = "okay";
	};
};

&timers17 {
	status = "okay";
	st,prescaler = <799>;
	pwm {
		status = "disabled";
	};

	counter17: counter {
		status = "okay";
	};
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&adc1_in1_pa0>, <&adc1_in6_pc0>, <&adc1_in7_pc1>, <&adc1_in8_pc2>;
	pinctrl-names = "default";
	status = "okay";
 
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@8 {
		reg = <8>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&can1 {
        status = "okay";
        pinctrl-0 = <&can_rx_pa11>, <&can_tx_pa12>;
        pinctrl-names = "default";
                bus-speed = <500000>;
                //sample-point = <875>;
                //bus-speed-data = <1000000>;
                //sample-point-data = <750>;
};

