# Copyright 2024 TOKITA Hiroshi
# SPDX-License-Identifier: Apache-2.0

config AUDIO_CODEC_AW88298
	bool "Awinic AW88298 codec support"
	select I2C
	depends on DT_HAS_AWINIC_AW88298_ENABLED
	default y
	help
	  Enable support for the Awinic AW88298 codec
