# SPDX-License-Identifier: Apache-2.0

config AUDIO_CODEC_ES7210
bool "Everest Semiconductor ES7210 audio ADC"
depends on I2C
select AUDIO
depends on DT_HAS_EVEREST_ES7210_ENABLED
help
  Enable driver support for the Everest Semiconductor ES7210
  quad-channel audio analog-to-digital converter. This device
  provides the front microphones on the M5Stack CoreS3 family.
