# Copyright (c) 2023 TOKITA Hiroshi <tokita.hiroshi@fujitsu.com>
# SPDX-License-Identifier: Apache-2.0

config UART_RA
	bool "Renesas RA Series UART driver"
	default y
	depends on DT_HAS_RENESAS_RA_UART_SCI_ENABLED
	select SERIAL_HAS_DRIVER
	select USE_FSP_SCI_UART
	help
	  Enable Renesas RA Series UART Driver.
