# Copyright (c) 2023 TOKITA Hiroshi <tokita.hiroshi@fujitsu.com>
# SPDX-License-Identifier: Apache-2.0

if BOARD_FPB_RA6E1

config BOARD
	default "fpb_ra6e1" if BOARD_FPB_RA6E1

endif # BOARD_FPB_RA6E1
